anyio==3.5.0
asgiref==3.5.0
boto3==1.21.18
click==8.0.4
convert==0.1.2
et-xmlfile==1.1.0
fastapi==0.75.0
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
idna==3.3
mysqlclient==2.1.0
numpy==1.22.3
openpyxl==3.0.9
pydantic==1.9.0
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
tabula-py
#tabula==1.0.5
typing-extensions==4.1.1
uvicorn==0.17.5
uvloop==0.16.0
watchgod==0.7
websockets==10.2
